<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <meta charset="utf-8">
    <title>{% block title %}Waterbnb{% endblock %}</title>
    {% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    {% endblock %}
    {% endblock %}
</head>
<body>

<nav class="navbar navbar-light bg-light">
    <div>
        <span class="navbar-brand mb-0 h1">Waterbnb</span>
    </div>
    {% if current_user.is_anonymous %}
    <div>
        <a type="button" class="btn btn-primary" href="/login">Login</a>
        <a type="button" class="btn btn-warning" href="/register">Register</a>
    </div>
    {% else %}
    <a type="button" class="btn btn-primary" href="/logout">Logout</a>
    {% endif %}
</nav>

<main>
    {% block content %}{% endblock %}
</main>

</body>
</html>